<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include ('partials/head', {title, meta, og, twitter, schema, canonical}) %>

	<body>
		<!--Start Header -->
		<%- include ('partials/header') %>
			<!--End Header -->

			<!--Breadcrumb Area-->
			<section class="breadcrumb-area banner-6">
				<div class="text-block">
					<div class="container">
						<div class="row">
							<div class="col-lg-12 v-center">
								<div class="bread-inner">
									<div class="bread-menu wow fadeInUp" data-wow-delay=".2s">
										<ul>
											<li><a href="/html">Home</a></li>
											<li><a href="#">Book a Free Consultation</a></li>
										</ul>
									</div>
									<div class="bread-title wow fadeInUp" data-wow-delay=".5s">
										<h2>Book a Free Consultation</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End Breadcrumb Area-->

			<!--Start Enquire Form-->
			<section class="contact-page pad-tb">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-11 v-center">
							<div class="common-heading text-l">
								<span>Book a Free Consultation</span>
								<h2 class="mt0 mb0">Talking Today, Building Tomorrow</h2>
								<p class="mb60 mt20">Let’s discuss how we can collaborate and grow together.</p>
							</div>
							<!-- <div class="form-block" id="schedule">
								<div class="meetings-iframe-container"
									data-src="https://meetings.hubspot.com/pboghara?embed=true"></div>
								<script type="text/javascript"
									src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
							</div> -->

							<div id="schedule">

								<!-- Calendly inline widget begin -->
								<div class="calendly-inline-widget"
									data-url="https://calendly.com/dadwordit/project-discussion-strategy-call?month=2026-03"
									style="min-width:320px;height:700px;">
								</div>

								<script src="https://assets.calendly.com/assets/external/widget.js"
									type="text/javascript" async></script>
								<!-- Calendly inline widget end -->

							</div>
						</div>

					</div>
				</div>
			</section>

			<section class="testinomial-section pad-tb bglight">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 v-center">
							<div class="common-heading text-l">
								<span>Clients Testimonial</span>
								<h2 class="mb0">What our clients say about our Company.</h2>
							</div>
						</div>
						<div class="col-lg-7">
							<div class="owl-carousel testimonial-card-a pl25">
								<div class="testimonial-card">
									<div class="t-text">
										<p>They're very professional and deliver with a high level of technical
											knowledge.</p>
									</div>
									<div class="client-thumbs mt30">
										<div class="media v-center">
											<div class="user-image bdr-radius"><img src="images/user-thumb/sergiu.webp"
													alt="girl" class="img-fluid" /></div>
											<div class="media-body user-info v-center">
												<h5>Sergiu Manolache</h5>
												<p>CEO of Sergman Software Services, <small>Bucharest, Romania</small>
												</p>
											</div>
										</div>
									</div>
								</div>
								<div class="testimonial-card">
									<div class="t-text">
										<p>Dadword IT is the ideal software agency. Passionate, communicative, and
											smart. Highly recommended.</p>
									</div>
									<div class="client-thumbs mt30">
										<div class="media v-center">
											<div class="user-image bdr-radius"><img src="images/user-thumb/evazi.webp"
													alt="girl" class="img-fluid" /></div>
											<div class="media-body user-info">
												<h5>Yashar Evazi</h5>
												<p>CEO of ESGWAY, <small>California, USA</small></p>
											</div>
										</div>
									</div>
								</div>
								<div class="testimonial-card">
									<div class="t-text">
										<p>I highly recommend their services to anyone looking for quality Shopify
											development.</p>
									</div>
									<div class="client-thumbs mt30">
										<div class="media v-center">
											<div class="user-image bdr-radius"><img src="images/user-thumb/anil.webp"
													alt="girl" class="img-fluid" /></div>
											<div class="media-body user-info">
												<h5>Anil Pareek</h5>
												<p>CEO of Atralia, <small>Udaipur, India</small></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End Enquire Form-->
			<!--Start Location-->
			<section class="contact-location pad-tb bglight">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-8">
							<div class="common-heading">
								<span>Our Locations</span>
								<h2>Our office</h2>
							</div>
						</div>
					</div>
					<div class="row justify-content-center upset shape-numm">
						<!-- <div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".2s">
					<div class="office-card">
						<div class="skyline-img">
							<img src="images/location/newyork.png" alt="New York" class="img-fluid" />
						</div>
						<div class="office-text">
							<h4>New York</h4>
							<p>603 FA Forest Avenue, New York, USA 10021</p>
							<a href="javascript:void(0)" target="blank" class="btn-outline">View on Map <i
									class="fas fa-chevron-right fa-icon"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".4s">
					<div class="office-card">
						<div class="skyline-img">
							<img src="images/location/sydeny.png" alt="sydney" class="img-fluid" />
						</div>
						<div class="office-text">
							<h4>Sydney</h4>
							<p>2449 Columbia Boulevard, Sydney, 10021</p>
							<a href="javascript:void(0)" target="blank" class="btn-outline">View on Map <i
									class="fas fa-chevron-right fa-icon"></i></a>
						</div>
					</div>
				</div> -->
						<div class="col-lg-4 col-sm-6 shape-loc wow fadeInUp" data-wow-delay=".6s">
							<div class="office-card mb0">
								<div class="skyline-img" data-tilt data-tilt-max="4" data-tilt-speed="1000">
									<img src="images/location/india.webp" alt="New York" class="img-fluid" />
								</div>
								<div class="office-text">
									<h4>Rajkot</h4>
									<p>N-1007, North Building, Twinstar, 150 Feet Ring Road, Opp. Balaji Hall, Rajkot -
										360004</p>
									<a href="javascript:void(0)" target="blank" class="btn-outline">View on Map <i
											class="fas fa-chevron-right fa-icon"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			<!--End Location-->
			<!--Start Footer-->
			<%- include('partials/footer', { recent_blogs: recent_blogs }) %>
				<!--End Footer-->


				<!-- js placed at the end of the document so the pages load faster -->
				<script src="js/vendor/modernizr-3.5.0.min.js"></script>
				<script src="js/jquery.min.js"></script>
				<script src="js/validator.min.js"></script>
				<script src="js/form.js"></script>
				<script src="js/bootstrap.bundle.min.js"></script>
				<script src="js/plugin.min.js"></script>
				<!--common script file-->
				<script src="js/main.js"></script>
	</body>

</html>