<!DOCTYPE html>
<html lang="en" class="no-js">

<%- include ('partials/head', {title, meta, og, twitter, schema, canonical}) %>

<body>
	<!--Start Header -->
	<%- include ('partials/header') %>
	<!--End Header -->

	<!--Breadcrumb Area-->
	<section class="breadcrumb-area banner-1" data-background="images/banner/9.webp">
		<div class="text-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 v-center">
						<div class="bread-inner">
							<div class="bread-menu">
								<ul>
									<li><a href="/">Dadword IT</a></li>
									<li><a href="#">Privacy Policy</a></li>
								</ul>
							</div>
							<div class="bread-title">
								<h2>Privacy Policy Page</h2>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Breadcrumb Area-->
	<!--Start Privacy Policy-->
	<section class="about-agency pvcpolcy-container pad-tb block-1">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<div class="pvcpolcy">
						<h4 class="mb10">Effective Date: 01/01/2025</h4>
						<p class="mb10">At <strong>Dadword IT</strong>At Dadword IT, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, and safeguard your information when you interact with our website or use our services.</p>
						<!-- Information we collect section -->
						<h4 class="mb10 mt30">1. Information We Collect</h4>
						<p class="mb10">We may collect the following types of information:</p>
						<p class="m-0"><strong>Personal Information:</strong> Name, email address, phone number, company details, and other information you provide when contacting us or using our services.</p>
						<p class="m-0"><strong>Non-Personal Information:</strong> Data such as browser type, IP address, and website usage statistics collected through cookies and similar technologies.</p>
						
						<!-- How We Use Your Information section -->
						<h4 class="mb10 mt30">2. How We Use Your Information</h4>
						<p class="mb10">We use the information collected to:</p>
						<p class="m-0">Provide, operate, and improve our web design and development services.</p>
						<p class="m-0">Respond to inquiries, provide customer support, and communicate with you about our services.</p>
						<p class="m-0">Personalize user experiences and optimize website performance.</p>
						<p class="m-0">Comply with legal requirements and enforce our terms of service.</p>

						<!-- How We Protect Your Information section -->
						<h4 class="mb10 mt30">3. How We Protect Your Information</h4>
						<p class="m-0">We implement appropriate security measures to protect your personal data from unauthorized access, disclosure, or alteration. While we strive to use commercially acceptable means to protect your information, no method of transmission over the internet is 100% secure.</p>

						<!-- Sharing Your Information section -->
						<h4 class="mb10 mt30">4. Sharing Your Information</h4>
						<p class="m-0">We do not sell, trade, or rent your personal information to third parties. However, we may share your data with trusted partners who assist us in operating our website or delivering services, as long as they agree to keep this information confidential.</p>

						<!-- Cookies section -->
						<h4 class="mb10 mt30">5. Cookies</h4>
						<p class="m-0">Our website uses cookies to enhance user experience and gather analytics. You can manage or disable cookies through your browser settings. Please note that disabling cookies may impact some features of our website.</p>
						
						<!-- Your Rights section -->
						<h4 class="mb10 mt30">6. Your Rights</h4>
						<p class="mb10">You have the right to:</p>
						<p class="m-0">Access the personal information we hold about you.</p>
						<p class="m-0">Request corrections to inaccurate or incomplete data.</p>
						<p class="m-0">Request the deletion of your personal data, subject to legal obligations.</p>
						<p>To exercise these rights, please contact us at contact@dadwordit.com</p>

						<!-- Third-Party Links section -->
						<h4 class="mb10 mt30">7. Third-Party Links</h4>
						<p class="m-0">Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these external sites.</p>

						<!-- Updates to This Policy section -->
						<h4 class="mb10 mt30">8. Updates to This Policy</h4>
						<p class="m-0">We may update this Privacy Policy periodically to reflect changes in our practices or applicable laws. We encourage you to review this page regularly for any updates.</p>

						<!-- Updates to This Policy section -->
						<h4 class="mb10 mt30">9. Contact Us</h4>
						<p class="m-0">If you have any questions or concerns about this Privacy Policy or how your information is handled, please contact us at:</p>
						<p class="m-0"><strong>Dadword IT</strong></p>
						<p class="m-0">Email:<strong>support@dadwordit.com</strong></p>
						<p class="m-0">Phone:<strong>8511096482</strong></p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End Privacy Policy-->


	<!--Start Footer-->
	<%- include('partials/footer', { recent_blogs: recent_blogs }) %>
	<!--End Footer-->

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.bundle.min.js"></script>
	<script src="js/plugin.min.js"></script>
	<!--common script file-->
	<script src="js/main.js"></script>
</body>

</html>